@use "../styles/variables";
.banner {
  height: 390px;
  background-image: url("/img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  &::before {
    content: "";
    height: 100%;
    width: 966px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 85.04%);
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 81px;
  gap: 32px;

  .text {
    position: relative;
    color: variables.$white;
    display: flex;
    flex-direction: column;
    gap: 16px;
    h1 {
      font-weight: 600;
      font-size: 48px;
    }
    h2 {
      font-weight: 400;
      font-size: 32px;
      span {
        font-weight: 700;
        color: variables.$yellow;
      }
    }
  }

  button {
    position: relative;
    width: 206px;
    height: 50px;
    background-color: variables.$yellow;
    font-weight: 600;
    font-size: 16px;
    color: #271c47;
    border-radius: 5px;
  }
}
